<table id="query-table" cellpadding="5px">
    {{#each memberParams}}
        <tr class="form-group">
            <td>{{this.key}}:</td>
            <td><input class="form-control createParams" type="text" name="{{this.key}}" value="{{this.val}}"></td>
        </tr>
    {{/each}}
    {{#if this.Assistants}}
        <tr class="form-group">
            <td>Assistants: </td>
            <td><select name="Assistants" multiple>
                {{#each this.Assistants}}
                    <option value="{{this.key}}" selected="{{this.selected}}">{{this.name}}</option>
                {{/each}}
            </select></td>
        </tr>
    {{/if}}
</table>
{{#if isBeingUpdated}}
    <button onclick="updateMember" class="btn btn-primary" id="add-button">Update</button>
{{else}}
    <button onclick="createMember" class="btn btn-primary" id="add-button">Add</button>
{{/if}}
