<h1>Order History:</h1>
<a href="/admin/orderHistory/csv" class="btn btn-primary" target="_blank" rel="noopener">Download Orders As Spreadsheet</a>
<div class="accordion container-fluid" id="orderAccordian">
  {{#each orders}}
    <div class="card">
      <div class="card-header" id="heading-{{this.orderId}}">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{this.orderId}}" aria-expanded="false" aria-controls="collapse-{{this.orderId}}">
            Order# {{this.orderId}}
          </button>
        </h5>
      </div>
      <div id="collapse-{{this.orderId}}" class="collapse" aria-labelledby="heading-{{this.orderId}}" data-parent="#orderAccordian">
        <div class="card-body">
          <div class="row">
            <div class="col-md">
              <h5 style="margin-top: 10px;">Order Details:</h5>
              <table cellpadding="10">
              {{#each this.orderInfo}}
              <tr>
                <td><strong>{{this.key}}:</strong></td>
                <td>{{this.val}}</td>
              </tr>
              {{/each}}
              </table>
            </div>
            <div class="col-md">
              <h5 style="margin-top: 10px;">Children:</h5>
              <table cellpadding="10">
              {{#each this.children}}
                <tr>
                  <td><strong>Name:</strong> {{this.name}}</td>
                  <td><strong>Grade:</strong> {{this.grade}}</td>
                </tr>
              {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>