{{#if errorMsg}}<div class="alert alert-danger" role="alert">{{errorMsg}}</div>{{/if}}
{{#if successMsg}}<div class="alert alert-success" role="alert">{{successMsg}}</div>{{/if}}
<div class="container">
    {{#if members}}
        <form action="/admin/faculty/addExisting" method="POST">
            <input type="hidden" name="path" value="{{path}}">
            <select name="member">
                {{#each members}} <option value="{{this.key}}">{{this.name}}</option> {{/each}}
            </select>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    {{else}}
        {{#if isBeingUpdated}}
            <form action="/faculty/{{memberId}}/update" method="POST">
        {{else}}
            <form action="/faculty/create" method="POST">
                <label>Type: <select id="teacherType" name="Type" value="{{#if type}}{{type}}{{else}}Miscelaneous{{/if}}">
                    <option value="Miscelaneous">Miscelaneous</option>
                    <option value="PreK">Nursary School</option>
                    <option value="Elementary">Elementary School</option>
                    <option value="Middle">Middle School</option>
                    <option value="Assistants">Assistant</option>
                </select></label>
        {{/if}}
            {{> facultyMemberForm}}
            </form>
    {{/if}}
</div>

<script src="/js/editTeachers.js"></script>
