<h1>Faculty Stats</h1>
<table class="table" cellpadding="8" style="border: 1px solid black;">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Amount</th>
        {{#each childrenTitles}}<th>{{this}}</th>{{/each}}
    </tr>
    {{#each members}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.amount}}</td>
        {{#each this.children}}<td>{{this}}</td>{{/each}}
    </tr>
    {{/each}}
</table>

<a href="/admin/faculty/stats/download" target="_blank" rel="noopener" class="btn btn-primary">Download</a>