<div class="container-fluid">
    <div class="center">
        <h3>PTA Dues | Hanukkah</h3>
    </div>
    <div class="row">
        <div class="col-4 form-group">
            <label for="">Parents Name:</label>
            <input type="text" class="form-control" id="parentsName" placeholder="Mr. & Mrs. Last Name">
        </div>
        <div class="col-8">
            <label for="">How many children do you have? <input type="number" class="form-control" id="numChildren"
                    style="max-width: 64px;" min="0" value="1"></label>
            <div id="namesDropdownMenu">

            </div>
        </div>
    </div>


    <h3 class="card-title mt-4">Please check off box to select teacher. A dropdown will appear to choose the name you
        would like to appear on the card:</h3>

    <div class="card my-2">
        <div class="card-header">
            <h3 class="card-title">Early Childhood</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                {{#each earlyChildhood as |grade|}}
                <li class="nav-item">
                    <a class="nav-link text-dark{{#if grade.First}} active{{/if}}" id="{{@key}}-tab" data-toggle="tab"
                        href="#{{@key}}" role="tab" aria-controls="{{@key}}"
                        aria-selected="{{#if grade.First}}true{{else}}false{{/if}}">{{@key}}</a>
                </li>
                {{/each}}
            </ul>
            <div class="tab-content">
                {{#each earlyChildhood as |grade|}}
                <div class="tab-pane fade{{#if grade.First}} show active{{/if}}" id="{{@key}}" role="tabpanel"
                    aria-labelledby="{{@key}}-tab">
                    <ul class="list-group">
                        {{#each grade.Classes as |class|}}
                        <li class="list-group-item" id="{{class.Id}}">
                            <div class="h-100">
                                <strong class="mx-1">{{@key}}</strong>
                            </div>

                            {{#each class.Teachers as |teacher|}}
                            <label for="{{teacher.Id}}" class="mx-1">
                                <input type="checkbox" name="{{teacher.Id}}" class="teacherCheckbox"> {{teacher.Name}}
                            </label>

                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header">
            <h3 class="card-title">Elementary</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                {{#each elementary as |grade|}}
                <li class="nav-item">
                    <a class="nav-link text-dark{{#if grade.First}} active{{/if}}" id="{{@key}}-tab" data-toggle="tab"
                        href="#E{{@key}}" role="tab" aria-controls="{{@key}}"
                        aria-selected="{{#if grade.First}}true{{else}}false{{/if}}">{{@key}} Grade</a>
                </li>
                {{/each}}
                <li class="nav-item">
                    <a href="#learning-center" id="learning-center-tab" data-toggle="tab" role="tab"
                        class="nav-link text-dark" aria-controls="learning-center" aria-selected="false">Learning
                        Center</a>
                </li>
            </ul>
            <div class="tab-content">
                {{#each elementary as |grade|}}
                <div class="tab-pane fade{{#if grade.First}} show active{{/if}}" id="E{{@key}}" role="tabpanel"
                    aria-labelledby="{{@key}}-tab">
                    <ul class="list-group">
                        {{#each grade.Classes as |class|}}
                        <li class="list-group-item" id="{{class.Id}}">
                            <div>
                                <strong>{{class.Class}} ({{class.Room}})</strong>
                            </div>
                            {{#each class.Teachers as |teacher|}}
                            <label for="{{teacher.Id}}" class="mx-1">
                                <input type="checkbox" name="{{teacher.Id}}" class="teacherCheckbox"> {{teacher.Name}}
                            </label>
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
                <div class="tab-pane fade" id="learning-center" role="tabpanel" aria-labelledby="learning-center-tab">
                    <ul class="list-group" id="{{admin.0.Id}}">
                        {{#each admin.0.Members as |teacher|}}
                        <li class="list-group-item" id="{{teacher.Id}}">
                            <label for="{{teacher.Id}}" class="mx-2">
                                <input type="checkbox" name="{{teacher.Id}}" class="teacherCheckbox"> {{teacher.Name}}
                            </label>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="card my-2">
        <div class="card-header">
            <h3 class="card-title">Middle School</h3>
        </div>
        <div class="card-body px-5">
            <ul class="nav nav-tabs" role="tablist">
                {{#each middleSchool as |grade|}}
                <li class="nav-item">
                    <a class="nav-link text-dark{{#if grade.First}} active{{/if}}" id="{{@key}}-tab" data-toggle="tab"
                        href="#M{{@key}}" role="tab" aria-controls="{{@key}}"
                        aria-selected="{{#if grade.First}}true{{else}}false{{/if}}">{{@key}} Grade</a>
                </li>
                {{/each}}
            </ul>
            <div class="tab-content">
                {{#each middleSchool as |grade|}}
                <div class="tab-pane fade{{#if grade.First}} show active{{/if}}" id="M{{@key}}" role="tabpanel"
                    aria-labelledby="{{@key}}-tab">
                    <ul class="list-group">
                        {{#each grade.Classes as |class|}}
                        <li class="list-group-item" id="{{class.Id}}">
                            <input type="checkbox" name="{{class.Teacher.Id}}" class="mx-2 teacherCheckbox">
                            <strong>{{class.Teacher.Name}}</strong>
                            {{this.Subject}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<footer class="card-footer bg-primary d-flex justify-content-between position-fixed">
    <div class="px-3">
        <div class="row">
            <h3 class="text-light">Total: $<span id="orderTotal">0</span>.00</h3>
        </div>
        <div class="row">
            <button class="btn btn-link text-light" id="pay-other-btn">Pay other amount</button>
            <input type="hidden" id="other-amount" value="0">
        </div>
    </div>

    <button class="btn btn-primary light-btn" id="checkout-button">Continue &rarr;</button>
</footer>

<script>
    var IS_HIGHSCHOOL = false;
</script>
<script src="/js/hanukkah.js"></script>

<style>
    .list-group {
        max-height: 600px !important;
        overflow: scroll;
    }

    .list-group::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    .list-group::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    footer {
        margin: 0 -15px;
        bottom: 0;
        width: 100%;
    }
</style>