<div id="editTeacherButtonTab">
            {{#if member}}
                <form action="/faculty/{{memberId}}/edit?_method=PUT" method="POST" class="form">
                <table>
                {{#each member}}
                    </td><td><input name="{{this.key}}" type="text" value="{{this.val}}"></td></tr>
                {{/each}}
                </table>
            {{else}}
                <form action="/faculty/create" method="POST" class="form">
                
            {{/if}}
                <table>
                    </td><td><input name="Name" type="text" value="{{member.Name}}"></td></tr>
                    {{#if member.isMiscelaneous}}
                    </td><td><input name="Group" type="text" value="{{member.Group}}"></td></tr>
                    {{/if}}
                    {{#if member.isPreK}}
                    </td><td><input name="Class" type="text" value="{{member.Class}}"></td></tr>
                    {{/if}}
                    {{#if member.isElementary}}
                    </td><td><input name="Class" type="text" value="{{member.Class}}"></td></tr>
                    </td><td><input name="Room" type="text" value="{{member.Room}}"></td></tr>
                    </td><td><input name="Assistants" type="text" value="{{member.Assistants}}"></td></tr>
                    {{/if}}
                </table>

            </form>
            
            <h1>Hello this is the edit teachers button tab tab</h1>
        </div>