<div class="list-container">
    <h1>Elementary</h1>
    <ul class="sortable list-group" id="/Elementary">
    {{#each elementary as |class|}}
        <li class="list-group-item">
            <span class="drag-handle" style="font-size: 1.3em">☰ </span>
            <div class="input-group">
                <input type="text" class="form-control elemInput" id="{{class.id}}/Class" value="{{class.Class}}">
                <input type="text" class="form-control elemInput" id="{{class.id}}/Room" value="{{class.Room}}">
                <select id="{{class.id}}/Teacher" class="form-control elemInput">
                    {{#each ../facMembers}}
                        <option value="{{this.id}}" {{#ifEquals class.Teacher this.id}}selected{{/ifEquals}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </li>
    {{/each}}
    </ul>
</div>



<link rel="stylesheet" href="/css/orginizePage.css">
<link rel="stylesheet" href="/css/sortable.css">
<script src="/js/Sortable.min.js"></script>
<script src="/js/sortFaculty.js"></script>

