<h1>Miscelaneous:</h1>
<ul>
{{#each miscelaneous}}
    <li>
        <strong>{{this.title}}</strong>
        <ul>
            {{#each this.members}}
                <li><a href="/faculty/{{this.key}}/edit/">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </li>
{{/each}}
</ul>

{{#each otherCategories}}
    <h1>{{this.title}}</h1>
    <ul>
        {{#each this.members}}
            <li><a href="/faculty/{{this.key}}/edit/"><table><tr>
            {{#each this.properties}}
                <td>{{this}}</td>
            {{/each}}
            </tr></table></a></li>
        {{/each}}
    </ul>
{{/each}}

