
<div style="min-width: 420px;" class="list-container">
    <h2>Miscelaneous:</h2>
    <ul id="/Miscelaneous" class="sortable list-group">
    {{#each misc}}
        <li id="{{this.groupKey}}" class="list-group-item">
            <span class="drag-handle" style="font-size: 1.3em">☰ </span>
            <strong>{{this.title}}</strong>
            <ul id="/MiscGroups/{{this.groupKey}}/Members" class="sortable list-group">
                {{#each this.members}}
                    <li id="{{this.key}}" class="list-group-item">
                        <span class="drag-handle" style="font-size: 1.3em">☰ </span>
                        {{this.name}}
                        <a href="/faculty/{{this.key}}/edit/" class="btn btn-primary btn-sm">Edit</a>
                        {{!-- <button class="btn btn-danger" onclick="remove('{{}}', {{}})">X</button> --}}
                    </li>
                {{/each}}
                <a href="/admin/faculty/edit?existing=true&path=MiscGroups%2F{{this.groupKey}}%2FMembers" class="btn btn-success">Add Existing Teacher</a>
            </ul>
        </li>
    {{/each}}
    </ul>
</div>
{{#each other}}
    <div class="list-container">
        <h1>{{this.title}}:</h1>
        <ul class="sortable list-group" id="/{{this.title}}">
            {{#each this.members}}
            <li class="list-group-item" id="{{this.key}}">
                <span class="drag-handle" style="font-size: 1.3em">☰ </span>
                {{#if this.props.Class}}{{this.props.Class}} | {{/if}}
                {{#if this.props.Room}}{{this.props.Room}} | {{/if}}
                {{#if this.props.Name}}{{this.props.Name}} {{/if}}
                <a href="/faculty/{{this.key}}/edit/" class="btn btn-primary btn-sm">Edit</a>
            </li>
            {{/each}}
            <a href="/admin/faculty/edit?existing=true&path={{this.title}}" class="btn btn-success">Add Existing Teacher</a>
        </ul>
    </div>
{{/each}}



<link rel="stylesheet" href="/css/sortable.css">
<script src="/js/Sortable.min.js"></script>
<script src="/js/sortFaculty.js"></script>

