<h2>Miscelaneous:</h2>
<ul>
{{#each misc}}
    <li>
        <strong>{{this.title}}</strong>
        <ul id="/Miscelaneous/{{this.index}}/Members" class="sortable">
            {{#each this.members}}
                <li id="{{this.key}}">{{this.name}}</li>
             {{!-- href="/faculty/{{this.key}}/edit/" --}}
            {{/each}}
        </ul>
    </li>
{{/each}}
</ul>

{{#each other}}
    <h1>{{this.title}}</h1>
    <ul>
        {{#each this.members}}
            <li><a href="/faculty/{{this.key}}/edit/"><table><tr>
            {{#each this.properties}}
                <td>{{this}}</td>
            {{/each}}
            </tr></table></a></li>
        {{/each}}
    </ul>
{{/each}}

<script src="/js/Sortable.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/sortFaculty.js"></script>

