<link rel="stylesheet" href="/css/sortable.css">
<h2>Miscelaneous:</h2>
<ul id="/Miscelaneous" class="sortable">
{{#each misc}}
    <li id="{{this.groupKey}}">
        <strong>{{this.title}}</strong>
        <ul id="/MiscGroups/{{this.groupKey}}/Members" class="sortable">
            {{#each this.members}}
                <li id="{{this.key}}">
                    {{this.name}}
                    <a href="/faculty/{{this.key}}/edit/" class="btn btn-primary btn-sm">Edit</a>
                </li>
            {{/each}}
        </ul>
    </li>
{{/each}}
</ul>

{{#each other}}
    <h1>{{this.title}}</h1>
    <ul>
        {{#each this.members}}
            <li><a href="/faculty/{{this.key}}/edit/"><table><tr>
            {{#each this.properties}}
                <td>{{this}}</td>
            {{/each}}
            </tr></table></a></li>
        {{/each}}
    </ul>
{{/each}}

<script src="/js/Sortable.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/sortFaculty.js"></script>

