<div class="list-container">
    <h1>Early Childhood:</h1>
    <ul class="sortable list-group" id="OrderedGroups/Nursary">
        {{#each nursary as |class|}}
        <li class="list-group-item" id="{{class.id}}">
            <div class="input-group">
                <span class="drag-handle">☰</span>
                <input type="text" class="form-control classInput" id="Nursary/{{class.id}}/Class" placeholder="Class"
                    value="{{class.Class}}">
                <select id="Nursary/{{class.id}}/Teacher" class="form-control classInput teacherSelect">
                    <option value="{{this.Teacher}}" selected>{{this.teacherName}}</option>
                </select>
                <button class="btn btn-danger exButton" onclick="removeClass('{{class.id}}', 'Nursary')">X</button>
            </div>
        </li>
        {{/each}}
    </ul>
    <button class="btn btn-primary d-inline" onclick="addClasses('Nursary')">Add Class</button>
    <input type="number" class="d-inline" id="NursaryAddAmount" value="1">
</div>

<div class="list-container">
    <h1>Middle School:</h1>
    <ul class="sortable list-group" id="OrderedGroups/MiddleSchool">
        {{#each middleSchool as |class|}}
        <li class="list-group-item" id="{{class.id}}">
            <div class="input-group">
                <span class="drag-handle">☰</span>
                <input type="text" class="form-control classInput" id="MiddleSchool/{{class.id}}/Grade"
                    placeholder="Grade" value="{{class.Grade}}">
                <input type="text" class="form-control classInput" id="MiddleSchool/{{class.id}}/Subject"
                    placeholder="Subject" value="{{class.Subject}}">
                <select id="MiddleSchool/{{class.id}}/Teacher" class="form-control classInput teacherSelect">
                    <option value="{{class.Teacher}}">{{class.teacherName}}</option>
                </select>
                <button class="btn btn-danger exButton" onclick="removeClass('{{class.id}}', 'MiddleSchool')">X</button>
            </div>
        </li>
        {{/each}}
    </ul>
    <button class="btn btn-primary d-inline" onclick="addClasses('MiddleSchool')">Add Class(es)</button>
    <input type="number" class="d-inline" id="MiddleSchoolAddAmount" value="1">
</div>

<div class="list-container">
    <h1>Administration:</h1>
    <ul class="sortable list-group" id="OrderedGroups/Administration">
        {{#each administration as |group|}}
        <li id="{{group.id}}" class="list-group-item">
            <div class="drag-handle input-group d-flex">
                <label>☰</label>
                <input class="form-control classInput" type="text" id="Administration/{{group.id}}/Title"
                    placeholder="Group Title" value="{{group.Title}}">
            </div>
            <ul class="sortable list-group" id="Groups/Administration/{{group.id}}/Members">
                {{#each group.Members as |member|}}
                <li class="list-group-item" id="{{member.container}}">
                    <div class="input-group">
                        <span class="drag-handle">☰</span>
                        <select class="form-control classInput teacherSelect"
                            id="Administration/Containers/{{member.container}}">
                            <option value="{{member.id}}" selected>{{member.name}}</option>
                        </select>
                        <button class="ml-3 btn btn-danger"
                            onclick="removeAdmin('{{group.id}}','{{member.container}}')">X</button>
                    </div>
                </li>
                {{/each}}
            </ul>
            <div class="input-group d-flex my-2">
                <input type="number" class="form-control" value="1" id="{{group.id}}-addAmount">
                <button class="btn btn-primary" onclick="addAdminMembers('{{group.id}}')">Add Member</button>
            </div>
        </li>
        {{/each}}
    </ul>
    <input type="number" value="1" id="miscGroupAddAmount">
    <button class="btn btn-primary" onclick="addAdministratorGroups()">Add Group(s)</button>
</div>

<div class="list-container">
    <h1>Elementary:</h1>
    <ul class="sortable list-group" id="OrderedGroups/Elementary" style="width: 1377.5px">
        {{#each elementary as |class|}}
        <li class="list-group-item" id="{{class.id}}">
            <div class="input-group">
                <span class="drag-handle">☰</span>
                <input type="text" class="form-control classInput" id="Elementary/{{class.id}}/Class"
                    placeholder="Class" value="{{class.Class}}">
                <input type="text" class="form-control classInput" id="Elementary/{{class.id}}/Room" placeholder="Room"
                    value="{{class.Room}}">
                <select id="Elementary/{{class.id}}/Teacher" class="multi-select" multiple="multiple">
                    {{#each ../faculty}}
                    <option class="{{this.id}}" value="{{this.id}}" {{#ifInside this.id class.Teacher}}
                        selected{{/ifInside}}>{{this.name}}
                    </option> {{/each}} </select> <select id="Elementary/{{class.id}}/Assistants" class="multi-select"
                    multiple="multiple" style="width: 300px">
                    {{#each ../faculty}}
                    <option class="{{this.id}}" value="{{this.id}}" {{#ifInside this.id class.Assistants}}
                        selected{{/ifInside}}>{{this.name}}
                    </option> {{/each}} </select> <button class="btn btn-danger exButton"
                    onclick="removeClass('{{class.id}}', 'Elementary')">X</button>
            </div>
        </li>
        {{/each}}
        <button class="btn btn-primary" onclick="addClasses('Elementary')">Add Class</button>
    </ul>
</div>


<div id="selectorOptions" class="d-none">
    {{#each faculty}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.2/multiple-select.min.css">
<link rel="stylesheet" href="/css/sortable.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.2/multiple-select.min.js"></script>
<script src="/js/Sortable.min.js"></script>
<script src="/js/sortFaculty.js"></script>