<div style="min-width: 420px;" class="list-container">
    <h2>Miscelaneous:</h2>
    <ul id="/Miscelaneous" class="sortable list-group">
    {{#each misc}}
        <li id="{{this.groupKey}}" class="list-group-item">
            <span class="drag-handle" style="font-size: 1.3em">☰ </span>
            <strong>{{this.title}}</strong>
            <ul id="/MiscGroups/{{this.groupKey}}/Members" class="sortable list-group">
                {{#each this.members}}
                    <li id="{{this.key}}" class="list-group-item">
                        <span class="drag-handle" style="font-size: 1.3em">☰ </span>
                        {{this.name}}
                        <button onclick="showIframe('/faculty/{{this.key}}/edit/')" class="btn btn-primary btn-sm">Edit</button>
                    </li>
                {{/each}}
                {{!-- <a href="/admin/faculty/edit?existing=true&path=MiscGroups%2F{{this.groupKey}}%2FMembers" class="btn btn-success">Add Existing Teacher</a> --}}
            </ul>
            {{!-- Don't put this in the list otherwise the reorder function will pick up on it'd id! --}}
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item btn-group" role="group">
                        <button type="button" class="btn btn-primary" onclick="displayAddExistingPopup('{{this.groupKey}}')">Existing</button>
                        <button type="button" class="btn btn-secondary" onclick="displayCreateMiscMember('{{this.groupKey}}', '{{this.title}}')">New</button>
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
    </ul>
</div>
{{#each otherFaculty}}
    <div class="list-container">
        <h1>{{this.title}}:</h1>
        <ul class="sortable list-group" id="/{{this.title}}">
            {{#each this.members}}
            <li class="list-group-item" id="{{this.key}}">
                <span class="drag-handle" style="font-size: 1.3em">☰ </span>
                {{#if this.props.Room}}{{this.props.Room}} | {{/if}}
                {{#if this.props.Name}}{{this.props.Name}} {{/if}}
                <button onclick="showIframe('/faculty/{{this.key}}/edit/')" class="btn btn-primary btn-sm">Edit</button>
            </li>
            {{/each}}
            <a href="/admin/faculty/edit?existing=true&path={{this.title}}" class="btn btn-success">Add Existing Teacher</a>
        </ul>
    </div>
{{/each}}

<div class="list-container">
    <h1>Elementary</h1>
    <ul class="sortable list-group" id="/Elementary">
    {{#each elementary}}
        <li class="list-group-item" id="{{this.id}}">
            <span class="drag-handle" style="font-size: 1.3em">☰ </span>
            {{this.Class}} | {{this.Room}} | {{this.Teacher.Name}}
            Assistants: {{#each this.Assistants}} {{this.Name}} {{/each}}
            <button onclick="showIframe('/admin/faculty/{{this.id}}/edit/')" class="btn btn-primary">Edit</a>
        </li>
    {{/each}}
    </ul>
</div>

<div class="list-container">
    <h1>Nursary</h1>
    <ul class="sortable list-group" id="/Nursary">
    {{#each nursary}}
    <li class="list-group-item" id="{{this.id}}">
        <span class="drag-handle" style="font-size: 1.3em">☰ </span>
        {{this.Class}} {{this.Teacher.Name}}
    </li>
    {{/each}}
    </ul>
</div>

<div class="addFacultyContainer">
    <div class="addition container" id="elementaryAdd">
        <h2>Add Elementary Class</h2>
        <div class="form-group row"><label for="">Class</label><input type="text" class="form-control"></div>
        <div class="form-group row"><label for="">Room</label><input type="text" class="form-control"></div>
        <div class="form-group row"><label for="">Teacher</label></div>
    </div>
    <div class="addition container" id="miscMemberAdd">
        <h2></h2>
    </div>
    <div class="addition" id="miscMemberCreate">
        <button class="btn btn-secondary exButton">X</button>
        <h2>Create new member &amp; add to <span id="miscGroupTitle"></span>:</h2>
        <input type="text" placeholder="Member's Name" id="memberName">
        <button class="btn btn-primary" id="createMiscMemberButton">Create</button>
    </div>
</div>

<link rel="stylesheet" href="/css/orginizePage.css">
<link rel="stylesheet" href="/css/sortable.css">
<script src="/js/Sortable.min.js"></script>
<script src="/js/sortFaculty.js"></script>

